

body{
    background-color: white;
    font-size: 62.5%;
    margin: 0;
    text-align: center;
}


/*mobile screen and general properties*/




/*texts*/
h1,
h2,
h3
{
    font-family: "fontawesome", sans-serif;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-bottom: 0.2rem;
}

h1>strong{
    color: #5cacd2;
}


h2{
    display: block;
    padding-top: 100px;
    text-transform: uppercase;
    color: black;
    font-size: 2.2rem;
}

p,
a{
    font-family: "Roboto", sans-serif;
}



a{
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(103, 107, 112, 1);
    text-decoration: none; 
}


hr{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    border: 0;
    background-color: #d9d9d9;
    border-style: none;
    width: 150px;
}

hr + i{
    display: block;
    position: relative;
    top: -20px;
    background-color: white;
    width: 25px;
    height: 20px;
    color: #5cacd2;
    padding: 6px 1px 2px 2px;
    border-radius: 100%;
    font-size: 1rem;
}


ul{
    list-style: none;
}



/*******containers******/
/***Home***/


nav{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100px;
    z-index: 3;    
}


.main-navigation a:hover{
    color: #5cacd2;
}

#menuToggle{
    display: block;
    position: relative;
    top: -8px;
    right: -21px;
    -webkit-user-select: none;
    z-index: 1;
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle i{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1; 
}

#menuToggle input:checked ~ i{
    opacity: 1;
    transform: rotate(90deg) translate(-2px, -1px);
}

.main-navigation{
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -20px;
    padding: 70px;
    padding-top: 125px;
    background: white;
    opacity: 0.9;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.main-navigation li{
    padding: 20px 0;
}

#menuToggle input:checked ~ ul{
    transform: none;
}

header{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    display: block;
    position: relative;
}



header figure{
    position: relative;
    display: flex;
    width: 200%;
    margin-left: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 20s slidy infinite;

}

header img{
    width: 50%;
    height: auto;
    float: left;
    z-index: 0;
}

@keyframes slidy{
    0%{ left: 0%; }
    50%{ left: -100%; }
    100%{ left: 0%; }
}




.fa-chevron-left{
    display: block;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 0;
    color: white;
    font-size: 0.4rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 5px 5px 1px;
    z-index: 1;

}

.fa-chevron-right{   
    position: absolute;
    top: 45%;
    right: 0;
    color: white;
    font-size: 0.4rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 1px 5px 5px;
    z-index: 1;
}




.heading{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 10%;
    width: 40%;
    display: inline-block;
    text-align: left;

}

.heading>p{
    color: white;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}


.bouton{
    background-color: #5cacd2;
    padding: 0.3rem;
    color: white;
    border-radius: 5px;
}


.timeline{
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
}

.blue-bar{
    position: absolute;
    width: 15%;
    height: 4px;
    background-color: #5cacd2;
    bottom: 0;
    animation: 20s sliding_bar infinite;
}


@keyframes sliding_bar {
    0%{ left : 0%; }
    50%{ left: 85%; }
    100%{ left: 0%; }
}


/***Services***/


.feature{
    display: none;
}


.subtitle{
    font-size: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#features{
   display: flex;
   justify-content: center;
   margin-left: 0;
   margin-right: 0; 
   margin-top: 30px;

}

#features>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: -30px;
    
}



.skill{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    font-size: 0.9rem;
    justify-content: space-around;
}

.skill-icon{
    display: flex;
    color: #5cacd2;
    height: 70px;
    width: 70px;
    min-width: 70px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill-icon>.fa-circle{
    position: absolute;
    padding-top: 4px;
    right: -12px;
    top: 22px;
    background-color: white;
    width: 25px;
    height: 20px;
}

.fa-chart-line,
.fa-cubes,
.fa-chart-pie{
    transform: scale(1.5);
    margin-left: 2px;
}

.skill-text{
    padding-left: 20px;
}

.skill-text>h3{
    margin-bottom: 0.1rem;
    font-size: 1.5rem;
}



/***Pojects***/


.projets{
    background-color: #f5f5f5;
}


.projects-menu{
    display: flex;
    justify-content: center;
}

menu{
    display: flex;
    margin-top: 50px;
    list-style: none;
}


#first{
    border-radius: 5px 0px 0px 5px;
   
}

#last{
    border-radius: 0px 5px 5px 0px;
    
}

.label{
    cursor: pointer;
    background-color: #e5e5e5;
    padding: 15px 24px 13px 27px;
    border-bottom: 3px solid #e5e5e5;
    display: inline-block;
    height: 20px;
    margin: 1px 2px 0px -8px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(103, 107, 112, 1);
}


.fa-caret-down{
    display: none;
}


.input:checked + .label{
    background-color: #5cacd2;
    border-bottom-color: #468cad;
    color: #fff;
}


.input:checked + .label>.fa-caret-down{
    display: flex;
    position: absolute;
    margin-top: 3px;
    margin-left: 22px;
    font-size: 2rem;
    color: #468cad;
    opacity: 1;
}



#creative:checked + #second:after, #portfolio:checked + #last:after {
    padding-left: 20px;
}

menu label:hover {
    color: #5cacd2;
}

menu input {
    display: none;
}

.items{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    padding: 100px 0 0 0;

}

.items>figure{
    min-width: 120px;
    width: 80%;
    position: relative;
    opacity: 0.4;
}

.portfolio-img{
    width: 100%;
    margin-top: 5%;
}



.item-name{
    position: absolute;
    width: 100%;
    height: 30%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: left;
    line-height: 0;
    bottom: 0%;
    opacity: 0;
}

.item-sub h3{
    margin: 6% 0 8% 0;
    padding-left: 4%;
    font-size: 0.9rem;
    font-weight: bold;
}

.item-sub p{
    padding-left: 4%;
    color: white;
    font-size: 0.8rem;
}


.item-name i{
    display: flex;
    position: absolute;
    left: 80%;
    top: -31px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #5cacd2;
    border: 2px solid white;
    border-radius: 100%;
}

.item-name:hover{
    opacity: 1;
}

figcaption a:hover{
    color: black;
}




/***Contact***/

#contact{
    position: absolute;
    display: block;
    padding-top: 120px;
    width: 100%;
    height: 90vh;
}


iframe{
    display: block;
    position: relative;
    width: 100%;
    border: 0px;
    height: 90vh;
    z-index: 0;
}

.blue-opacity{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #3491b2;
    opacity: 0.2;
    z-index: 1;
}

.form-frame{
    position: absolute;
    top: 100%;
    width: 60%;
    margin-left: 20%;
    height: 430px;
    padding: 20px 35px 20px 20px;
    z-index: 2;
    font-family: Arial, sans-serif;
}

.form-frame h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.form-frame address{
    font-size: 1rem;
    font-style: normal;
    padding-bottom: 10px;
    color: #64686d;
}

form input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    border: 1px solid #b3b3b3;
}

form textarea{
    width: 100%;
    height: 150px;
    padding: 10px 0 0 10px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}


form .bouton{
    width: 80%;
    margin-top: 10px;
    font-weight: bold;
    border-bottom: 3px solid #468cad; 
}

/******Breakpoints******/

/*pad screen*/ 


@media screen and (min-width: 768px){ 




nav{
    flex-direction: row;
    justify-content: space-around;
}


#menuToggle{
    display: flex;
    top: 0;
    right: 0;
}

#menuToggle i,
#menuToggle input{
    display: none;
}

.main-navigation{
    display: flex;
    position: inherit;
    margin: inherit;
    padding: inherit;
    transform: none;
    transition: none;
}


.main-navigation li{
    margin: 20px;
}


.main-navigation a:hover,
.main-navigation a:checked {
    border-top: 3px solid #5cacd2;
    padding-top: 38px;
}



h1{
    font-size: 1.5rem;
}

.fa-chevron-left{
    font-size: 0.8rem;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 10px 10px 2px;
    z-index: 1;

}

.fa-chevron-right{   
    font-size: 0.8rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 2px 10px 10px;
    z-index: 1;
}




#features{
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

.feature{
    display: block;
    margin-top: 20px;
}


.heading>p{
    font-size: 1.15rem;
}

.label{
    height: auto;
}

.items{
    justify-content: center;
}

.items>figure{
    width: 18rem;
    height: 18rem;
}


.item-name{
    bottom: 28%;
}

.item-name i{
    top: -20px;
    width: 40px;
    height: 40px;

}

.form-frame{
    position: absolute;
    top: 25%;
    right: 10%;
    max-width: 250px;
    height: 500px;
    background-color: rgba(255,255,255, 0.7);
    text-align: left;
}

.form-frame h3{
    font-size: 1.3rem;
}

.form-frame address{
    font-size: 0.8rem;
    font-weight: bold;
}

form .bouton{
    width: 50%;
}


}



/*desktop screen*/

@media screen and (min-width: 968px){

h1{
    font-size: 2rem;
    padding-bottom: 1.2rem;
}

.heading{
    top: 20%;
}

.fa-chevron-left{
    font-size: 1.6rem;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px 20px 20px 5px;
    z-index: 1;

}

.fa-chevron-right{   
    font-size: 1.6rem;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px 5px 20px 20px;
    z-index: 1;
}

#features{
    flex-wrap: nowrap;
    height: auto;

   }



.feature{
    margin-left: 3rem;
   
}


#features>ul{
    display: flex;
    align-items: center;
    width: 35%;
    padding-top: 40px;

}

.skill{
    flex-direction: row;
    text-align: justify;
}

.skill-icon>.fa-circle{
    right: -18px;
}

.items{
    width: 100%;
}

.items>figure{
    width: 17rem;
    height: auto;
    margin-left: 1%;
    margin-bottom: 1%;
}

.item-name{
    bottom: 1%;
}

} 

